<div id="Masterheader" class="header text-center">
  <div class="space"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>Build a landing page for your business or project and generate more leads!</h1>
        </div>

        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <input type="text" class="form-control-lg" placeholder="Enter Your Email">
            <button class="btn btn-primary btn-lg">Sign Up!</button>
          </form>
        </div>
      </div>
    </div>
</div>

<section id="icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-desktop text-blue"></i>
          <h3>Fully Responsive</h3>
          <p class="lead md-0">This theme will look great for any device, no matter the size!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-layer-group"></i>
          <h3>Bootstrap 4 Ready</h3>
          <p class="lead md-0">Featuring the latest build of the new Bootstrap 4 framework!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <i class="fas fa-check-circle"></i>
          <h3>Easy to Use</h3>
          <p class="lead md-0">
              Ready to use with your own content, or customize the source files!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="display">
  <div class="container-fluid">
    <div class="row holders">
      <div class="col-lg-6 order-lg-2 imgshow">
        </div>
      <div class="col-lg-6 order-lg-1 display-text">
        <h3>Fully Responsive Design</h3>
        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row holders">
      <div class="col-lg-6 imgshow2">
      </div>
      <div class="col-lg-6 display-text">
        <h3>Updated For Bootstrap 4</h3>
        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
      </div>

    </div>
    <div class="row holders">
      <div class="col-lg-6 order-lg-2 imgshow3">
      </div>
      <div class="col-lg-6 order-lg-1 display-text">
        <h3>Easy to Use & Customize</h3>
        <p class="lead md-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
  </div>
</section>

<section id="peeps">
  <div class="container text-center">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="peepdisplay mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/peep1.jpeg">
          <h5>Margaret E.</h5>
          <p class="fonts mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="peepdisplay mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/peep2.jpeg">
          <h5>Fred S.</h5>
          <p class="fonts mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="peepdisplay mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/peep3.jpeg">
          <h5>Sarah W.</h5>
          <p class="fonts mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="grabber" class="text-center text-light">
  <div class="space"></div>
    <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
              <h1>Ready to get started? Sign up now!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <input type="text" class="form-control-lg" placeholder="Enter Your Email">
                <button class="btn btn-primary btn-lg">Sign Up!</button>
              </form>
            </div>
      </div>
    </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">.</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">.</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">.</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted mb-4 mb-lg-0">
            © Your Website 2018. All Rights Reserved.
        </p>
      </div>

      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>
</section>
